#previewContainer {
  max-width: 300px;
  max-height: 300px;
  margin: 1rem auto 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50% !important;
}
