
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Optional: prevent scrollbars */
}

/* Fullscreen video background */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1; /* Behind everything */
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.profile-pic-small {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-pic-large {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
