html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  background-image: url("/images/bgimg2-Picsart-AiImageEnhancer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll; /* 'fixed' can cause issues on mobile */
 
}
@media (max-width:508px) {
  body {
    background-position:left center;
    background-size:290%;
    left:200px;
  }
}
.form-wrapper {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: left;
  margin-top: 20px;
  position: relative;
  top:150px;
  left:43px;
}

