html,
body {
  padding-top:30px; 
  margin: 0;
  background-color: rgb(234, 232, 232);
  overscroll-behavior: none;
}
.top-bar {
  background-color: #75f371; 
  color: rgb(0, 0, 0);              
  padding:27px 80px;    
  font-family: 'Roboto', sans-serif;   
  text-align: center;        
  font-weight: bold;
  font-size: 24px;
  position: fixed;           
  top: -5px;
  left: 0;
  width: 100%;
  z-index: 1000;             
  box-sizing: border-box;
}
.rounded-box {
  width: 425px;
  height:55px;
  position: fixed;         
  top: 60px;              
  left: 218px;              
  transform: translateX(-50%); 
  background-color: #f7f787;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10000;         
  white-space: nowrap;    
}
.runs-wickets{
  width: 280px;
  height:50px;
  position: fixed;         
  top: 71px;              
  left: 38%; 
  z-index: 100000;
  font-family: 'Roboto', sans-serif; 
}
.overs{
  width: 150px;
  height:50px;
  position: fixed;         
  top: 76px;              
  left: 235px; 
  z-index: 100000;
  font-family: 'Roboto', sans-serif; 
}
.overs h1 {
  font-size: 20px;
}
.arrow{
    width: 45px;
  height:auto;
  position: fixed;         
  top: 1px;              
  left: 5px; 
  right: 5px;
  z-index: 100000;
  transform: rotate(180deg);
}
.bar{
    width: 38px;
  height:auto;
  position: fixed;         
  top: 5px;              
  left: 390px; 
  right: 5px;
  z-index: 100000;
}
/* TEAM LEFT BOX*/

/*.box-2 {
  width: 100px;
  height:50px;
  position: fixed;         
  top: 65px;              
  left: 55px;              
  transform: translateX(-50%); 
  background-color: #e9e49f;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10000;         
  white-space: nowrap;  
}*/
.team-top{
  width: 300px;
  height:45px;
  position: fixed; 
  font-family: 'Roboto', sans-serif;           
  font-weight: bold;        
  top: 12px;              
  left: 56px; 
  z-index: 100000;
}
.team-top h2 {
  font-size: 21px;
}
.team-left{
  width: 300px;
  height:50px;
  position: fixed;         
  top: 77px;              
  left: 29px; 
  z-index: 100000;
  font-family: 'Roboto', sans-serif; 
}
.crr{
  width: 300px;
  height:50px;
  position: fixed;         
  top: 77px;              
  left: 340px; 
  z-index: 100000;
  font-family: 'Roboto', sans-serif; 
}
/*CRR BOX*/

/*.box-3 {
  width: 100px;
  height:45px;
  position: fixed;         
  top: 67px;              
  left: 385px;              
  transform: translateX(-50%); 
  background-color: #e9e49f;
  color: white;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10000;         
  white-space: nowrap;  
}*/
.score-table {
  top:65px;
  position:relative;
  width: 420px;
  max-width: 500px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  background: white;
}

.score-table th,
.score-table td {
  padding: 12px;
  text-align: center;
  color: #333;
  font-size: 16px;
}

.score-table thead th {
  text-align: left;
  font-weight: 500;
  border-bottom: 2px dashed #bbb;
    
}
.score-table thead th:not(:first-child) {
  padding-left: 15px;
  margin-left: -12px; /* try -4px to -12px depending on how far you want */
}

.score-table td:first-child,
.score-table th:first-child {
  text-align: left;
}
.score-table th:nth-child(2),
.score-table th:nth-child(3),
.score-table th:nth-child(4),
.score-table th:nth-child(5),
.score-table th:nth-child(6),
.score-table td:nth-child(2),
.score-table td:nth-child(3),
.score-table td:nth-child(4),
.score-table td:nth-child(5),
.score-table td:nth-child(6) {
  text-align: right;
  padding-left: 10;
  padding-right:20;
}
.ball-table {
  top:65px;
  position:relative;
  width: 420px;
  max-width: 500px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  background: white;
}
.ball-table th,
.ball-table td {
  padding: 12px;
  text-align: center;
  color: #333;
  font-size: 16px;
   text-align: right;
  padding-left: 20;
  padding-right:30;
}
.ball-table thead th {
  text-align: right;
  font-weight: 500;
  border-bottom: 2px dashed #bbb;
  
    
}
.ball-table td:first-child,
.ball-table th:first-child {
  text-align: left;
}

.over-container {
  position: relative;
  width:420px;
  height:130px;
  top: 61px;
  left: px;
  display: flex;
  border-collapse: separate;
  border-spacing: 0;
  flex-direction: column; 
  align-items: flex-start; 
  background: white;
  border-radius: 12px;
  padding: 10px 20px;
  
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;         /* ensures it spans the full row */
  text-align: left;    /* aligns text to the left */
}


.balls {
  display: flex;
  gap: 12px;
  flex-wrap: wrap; /* optional: allows wrapping if too many balls */
}

.ball {
  width: 30px;
  height: 30px;
  background-color: #ccf5c8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.over-container {
  margin-left: 9px;
  margin-right: 0;
}

.undo-btn{
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  position: fixed;
   top: 572px;              
  left: 28px; 
  z-index: 1000000;
  text-transform: uppercase;
  font-family:'Roboto';
}
.undo-box{
   width: 100px;
  height:40px;
  position: fixed;         
  top: 565px;              
  left: 62px;              
  transform: translateX(-50%); 
  background-color: #4cd3aa;
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10000;         
  white-space: nowrap; 
}
.undo-icon{
    width: 38px;
  height:auto;
  position: fixed;         
  top: 566px;              
  left: 77px; 
  right: 5px;
  z-index: 10000;
}
.swap-btn{
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  position: fixed;
   top: 572px;              
  left: 135px; 
  z-index: 1000000;
  text-transform: uppercase;
  font-family:'Roboto';
}
.swap-box{
   width: 190px;
  height:40px;
  position: fixed;         
  top: 565px;              
  left: 217px;              
  transform: translateX(-50%); 
  background-color: #4cd3aa;
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10000;         
  white-space: nowrap; 
}
.swap-icon{
    width: 38px;
  height:auto;
  position: fixed;         
  top: 566px;              
  left: 275px; 
  right: 5px;
  z-index: 10000;
}
.retire-btn{
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  position: fixed;
   top: 572px;              
  left: 328px; 
  z-index: 100000;
  text-transform: uppercase;
  font-family:'Roboto';
}
.retire-box{
   width: 110px;
  height:40px;
  position: fixed;         
  top: 565px;              
  left: 374px;              
  transform: translateX(-50%); 
  background-color: #4cd3aa;
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10000;         
  white-space: nowrap; 
}
.retire-icon{
    width: 38px;
  height:auto;
  position: fixed;         
  top: 566px;              
  left: 393px; 
  right: 5px;
  z-index: 10000000;
  opacity: 80%;
}
.wicket-box {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);              
  padding:27px 80px;    
  font-family: 'Roboto', sans-serif;   
  text-align: center;        
  font-weight: bold;
  font-size: 24px;
  position: fixed;           
  top: 615px;
  left: 10px;
  width: 200px;
  z-index: 1000;  
  height:200px;           
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.run-box {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);              
  padding:27px 80px;    
  font-family: 'Roboto', sans-serif;   
  text-align: center;        
  font-weight: bold;
  font-size: 24px;
  position: fixed;           
  top: 615px;
  left: 225px;
  width: 200px;
  z-index: 1000;  
  height:200px;           
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.form-check{
  width:100px;
  position: relative;
  top:140px;
  left:50px;
  z-index: 10000000;
  transform: scale(1.3); 
}
.zero-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:10px;
  left:240px;
  z-index: 100000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}
.one-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:10px;
  left:255px;
  z-index: 100000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}
.two-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:10px;
  left:270px;
  z-index: 100000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}
.three-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:70px;
  left:94px;
  z-index: 100000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}
.four-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:70px;
  left:108px;
  z-index: 100000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}
.five-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:70px;
  left:123px;
  z-index: 100000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}
.six-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:132px;
  left:-52px;
  z-index: 100000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}
.seven-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:132px;
  left:-38px;
  z-index: 1000000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}
.eight-run{
  width:45px;
  height:45px;
   background-color: #74fcb5;
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  top:86px;
  left:368px;
  z-index: 100000000000;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-weight: bold;
}